.slideshow{
    width: 1200px;
    height: 460px;
    overflow: hidden;
    border: 3px solid #f2f2f2;
    margin: auto;
}

.slideshow ul{
    /* 4images, donc 4 x 100% */
    width: 400%;
    height: 460px;
    padding: 0;
    margin: 0;
    list-style: none;
}

.slideshow li{
    float: left;
}

